@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body{
  margin:0;
  padding: 0;
  scroll-behavior: smooth;
  color: black;
}
/*general*/
/*navbar*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.logo{
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 60px;
  z-index: 1;
}

.onglets {
  color: white;
  font-weight: initial;
  font-size: xxx-large;
  margin-right: 25px;
}

.burgerMenu {
  color: white;
  cursor: pointer;

}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(133, 39, 33, 0.83);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay-content h1{
  color: #FFF;
  font-family: Inter;
  font-size: 65px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.overlay-content a {
  padding: 40px;
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.overlay a {

  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  font-size: 46px;
  top: 0px;
  right: 35px;
  font-weight: 700;
}
/*footer*/
.footer {
  background: black;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*autre*/

.actualite h2,
.contact h2,
.newsletter h2 {
  color: #FFF;
font-family: Inter;
font-size: 65px;
font-style: normal;
font-weight: 400;
line-height: normal;
  text-align: center;

}

.actualite p , .qsn p {
  width: 70%;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*--------------------------------------------*/
/*accueil*/
/*header*/
.header_accueil {
  height: 960px;
}
#background-img  {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container h1 {
  margin-top: 30vh;
  color: #FFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 150px;
font-style: normal;
font-weight: 800;
line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.audio-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.5;
}

audio#audioPlay {
  filter: opacity(0.5);
  width: 100px;
}

/* section general */
.actualite , .qsn ,.contact, .newsletter {
  height: 960px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.gauche , .droite{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.gauche img,
.droite img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*section 1 : bienvenue */
.bienvenue {
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(218, 69, 59, 0.70);
  color: white;
}

.bienvenue h2 {
  font-family: Inter;
  font-size: 124px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.bienvenue p {
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.bienvenue button {
  font-family: Inter;
  color: #FFF;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  border: 3px solid #FFF;
  padding: 30px;
  width: 461px;
  height: 112px;
  background: rgba(217, 217, 217, 0.05);
}

/*section 2 : actualité */
.actualite {
  background: black;
  color: white;
}

/*section 3 : qsn */
.qsn{
  background: rgba(255, 255, 255, 0.55);
  color: black;
}
.qsn h2{
  font-family: Inter;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
    text-align: center;
}
/*section 4 : contact */
.contact{
  background: rgba(218, 69, 59, 0.70);
  color: white;
  height: 930px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content_form {
  width: 529px;
  height: 631px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
}
.content_form input[type="text"] {
  width: 466px;
  height: 63px;
  border-radius: 10px;
  border: 1px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.content_form textarea {
  width: 466px;
  height: 186px;
  border-radius: 10px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.content_form button{
  width: 219px;
  height: 60px;
  align-self: center;
  border: 1px;
  border-radius: 20px;
  background: black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /*text*/
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.label_email,
.label_sujet,
.label_message,
.label_mdp,
.label_genre,
.label_nom,
.label_prenom {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.label_email label,
.label_sujet label,
.label_message label,
.label_mdp label,
.label_genre label,
.label_nom label,
.label_prenom label {
  color: black;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*section 5 : newsletter*/
.newsletter{
  background: rgba(0, 0, 0, 0.35);
  height: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.newsletter p {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.newsletter input[type="text"] {
  border-radius: 10px;
  width: 783px;
  height: 90px;
  font-size: 25px;
  background: #d9d9d9;
}

.newsletter button {
  border-radius: 20px;
  background: rgba(218, 69, 59, 0.70);
  margin: 12px;
  width: 326px;
  height: 80px;
  border: 1px solid #00000026;
  /*text*/
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content_news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.521);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 981px;
  height: 452px;
}


/*vue connexion*/
.header {
  height: 0;
}
.header > .navbar {
  position: sticky;
}
.connexion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 881px;
  background: rgba(0, 0, 0, 0.84);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.connexion h2 {
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


  .content_form_connexion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  width: 529px;
height: 536px;
  border-radius: 20px;
background: rgba(218, 69, 59, 0.70);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content_form_connexion label {
  color: white;
}
.content_form_connexion input[type="text"],
.content_form_connexion input[type="password"]{
  width: 466px;
  height: 63px;
  border-radius: 10px;
  border: 1px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.content_form button,
.content_form_connexion button ,
.content_form_inscription button
{
  width: 219px;
  height: 60px;
  align-self: center;
  border: 1px;
  border-radius: 20px;
  background: rgba(133, 39, 33, 0.88);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /*text*/
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.link p {
  color: #FFF;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*vue inscription*/
.inscription {
  height: 930px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(0, 0, 0, 0.84);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.inscription h2 {
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.inscription img {
  object-position: center;
}


.content_form_inscription {
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    margin-top: 60px;
  width: 529px;
height: 536px;
  border-radius: 20px;
background: rgba(218, 69, 59, 0.70);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content_form_inscription label {
  color: white;
}
.content_name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 85px;
}

.content_form_inscription input[type="text"] {
  width: 200px;
  height: 63px;
  border-radius: 10px;
  border: 1px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.label_genre {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.label_email input[type="text"] {
  width: 466px;
}

.label_genre input[type="radio"] {
  padding: 5px;
}

.content_form_inscription input[type="password"] {
  width: 466px;
  height: 63px;
  border-radius: 10px;
  border: 1px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}